body {
  height: 100%;
  width: auto;
  margin: 0;
}

.outer-cage {
  background-color: #7c4444;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: radial-gradient(
    circle,
    #f3d9cf,
    #f0c8be,
    #e2978e,
    #c56e70,
    #a1384a
  ); */
}

.cage {
  background-color: #f1dfd8;
  height: 500px;
  width: 1000px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25),
    0 0 4rem 0px rgba(100, 100, 100, 0.15);
}

img {
  height: 200px;
  width: auto;
  border: 2.5px solid black;
}
